@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    outline: none;
}
:root{
    --main: #6247aa;
    --second : #102b3f;
    --third: #a06cd5;
    --gray: #eeeeee;
    --black : #000000;
    --green: #062726;
}

.btn{
    background-color: var(--third);
    border-color:var(--third);
}
.btn:hover{
    background-color: var(--main);
    border-color:var(--main);
}
#sidebar{
    background-color: var(--main) !important;
}
#body-connexion{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#wave{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#container-form{
    backdrop-filter: blur(5px) saturate(110%) brightness(120%);
    width: 40%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 25vh;
    right: 120px;
    z-index: 2;
    text-align: center;
    padding-top: 80px;
}
#container-user-img{
    background-color: var(--main);
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
#container-user-img img{
    width: 100%;
    height: 100%;
}
.group-input-field{
    width: 80%;
    position: relative;
    margin: 20px auto;
    text-align: left;
}
.group-input-field label{
    width: 100%;
    color: var(--main);
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
}
.input-field{
    margin-top: 10px;
    overflow: hidden;
    border-top-right-radius: 10px;
}
.input-field i{
    color: var(--main);
    width: 10%;
    background-color: #d1d1d1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 3px solid var(--main);
}
.input-field input{
    border: none;
    outline: none;
    border-bottom: 3px solid var(--main);
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--gray);

}
.input-field{
    display: flex;
}
#container-form form button{
    width: 50%;
    border: none;
    background-color: var(--main);
    color: #fff;
    padding: 10px;
    font-size: 17px;
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
    border-radius: 20px;
}

.popup-modal-1 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .popup-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 35%;
    height: 60%;
    background-color: var(--third);
    border-radius: 0.5rem;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .popup-window img {
    margin: 0 auto 15px;
    width: 26%;
  }
  .popup-window p {
    margin-bottom: 20px;
  }
  .popup-window i {
    color: var(--main);
  }
  .action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .action1 {
    border-bottom: var(--main) solid 1px;
    padding: 1rem 0.3rem 0 1.5rem;
    position: relative;
  }
  .action2 {
    border-bottom: var(--main) solid 1px;
    padding: 1rem 1.5rem 0 0.3rem;
    position: relative;
  }
  .action a {
    color: var(--main);
    text-decoration: none;
    font-size: 1.1rem;
  }
  .action1:hover a {
    color: #ffb411;
    transition: .2s ease;
  }
  .action2:hover a {
    color: #ffb411;
    transition: .2s ease;
  }
  .action1 i {
    color: var(--main);
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 4px;
    font-size: 1.3rem;
  }
  .action2 i {
    color: var(--main);
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 1.3rem;
  }
  .action1:hover i {
    color: #ffb411;
  }
  .action2:hover i {
    color: #ffb411;
  }