@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    outline: none;
}
:root{
    --main: #6247aa;
    --second : #102b3f;
    --third: #a06cd5;
    --gray: #eeeeee;
    --black : #000000;
    --green: #062726;
}
#sidebar{
    background-color: var(--main) !important;
}
#body-connexion{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#wave{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#container-form{
    backdrop-filter: blur(5px) saturate(110%) brightness(120%);
    width: 40%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 25vh;
    right: 120px;
    z-index: 2;
    text-align: center;
    padding-top: 80px;
}
#container-user-img{
    background-color: var(--main);
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
#container-user-img img{
    width: 100%;
    height: 100%;
}
.group-input-field{
    width: 80%;
    position: relative;
    margin: 20px auto;
    text-align: left;
}
.group-input-field label{
    width: 100%;
    color: var(--main);
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
}
.input-field{
    margin-top: 10px;
    overflow: hidden;
    border-top-right-radius: 10px;
}
.input-field i{
    color: var(--main);
    width: 10%;
    background-color: #d1d1d1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 3px solid var(--main);
}
.input-field input{
    border: none;
    outline: none;
    border-bottom: 3px solid var(--main);
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--gray);

}
.input-field{
    display: flex;
}
#container-form form button{
    width: 50%;
    border: none;
    background-color: var(--main);
    color: #fff;
    padding: 10px;
    font-size: 17px;
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
    border-radius: 20px;
}
