@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    outline: none;
}
:root{
    --main: #6247aa;
    --second : #102b3f;
    --third: #a06cd5;
    --gray: #eeeeee;
    --black : #000000;
    --green: #062726;
}

.btn{
    background-color: var(--third);
    border-color:var(--third);
}
.btn:hover{
    background-color: var(--main);
    border-color:var(--main);
}
#sidebar{
    background-color: var(--main) !important;
}
#body-connexion{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#wave{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#container-form{
    backdrop-filter: blur(5px) saturate(110%) brightness(120%);
    width: 40%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 25vh;
    right: 120px;
    z-index: 2;
    text-align: center;
    padding-top: 80px;
}
#container-user-img{
    background-color: var(--main);
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
#container-user-img img{
    width: 100%;
    height: 100%;
}
.group-input-field{
    width: 80%;
    position: relative;
    margin: 20px auto;
    text-align: left;
}
.group-input-field label{
    width: 100%;
    color: var(--main);
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
}
.input-field{
    margin-top: 10px;
    overflow: hidden;
    border-top-right-radius: 10px;
}
.input-field i{
    color: var(--main);
    width: 10%;
    background-color: #d1d1d1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 3px solid var(--main);
}
.input-field input{
    border: none;
    outline: none;
    border-bottom: 3px solid var(--main);
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--gray);

}
.input-field{
    display: flex;
}
#container-form form button{
    width: 50%;
    border: none;
    background-color: var(--main);
    color: #fff;
    padding: 10px;
    font-size: 17px;
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
    border-radius: 20px;
}

.popup-modal-1 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .popup-window-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: 60%;
    background-color: var(--third);
    border-radius: 0.5rem;
    text-align: center;
    padding: 20px;
    position: relative;
  }

  .popup-window-1 .img-user {
    width: 200px;
    height: 200px;
    object-fit: fill;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 !important;
    padding: 0 !important;
      border-radius: 50%;
    z-index: 1000!important;
  }
.popup-window-1 .card-prof{
    z-index: 1 !important;
    overflow-y: scroll;
}
.popup-window p {
    margin-bottom: 20px;
  }
  .popup-window i {
    color: var(--main);
  }
  .action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .action1 {
    border-bottom: var(--main) solid 1px;
    padding: 1rem 0.3rem 0 1.5rem;
    position: relative;
  }
  .action2 {
    border-bottom: var(--main) solid 1px;
    padding: 1rem 1.5rem 0 0.3rem;
    position: relative;
  }
  .action a {
    color: var(--main);
    text-decoration: none;
    font-size: 1.1rem;
  }
  .action1:hover a {
    color: #ffb411;
    transition: .2s ease;
  }
  .action2:hover a {
    color: #ffb411;
    transition: .2s ease;
  }
  .action1 i {
    color: var(--main);
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 4px;
    font-size: 1.3rem;
  }
  .action2 i {
    color: var(--main);
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 1.3rem;
  }
  .action1:hover i {
    color: #ffb411;
  }
  .action2:hover i {
    color: #ffb411;
  }
 .accueil-filiere{
     color: #fff;
     border-radius: 5px;
     margin: 10px 5px;
     overflow: hidden;
 }
.accueil-filiere h5{
    background-color: var(--main);
    padding: 5px;
    margin: 0;
}
.accueil-module{
    padding: 0;
    margin: 0;
}
.accueil-module h6{
    background-color: #DCDCDC;
    color: #000;
    padding: 5px 5px 5px 20px;
    margin: 0;
}
.accueil-absence{
    width: 100%;
    margin: 5px 2px;

}
.accueil-element{
    background-color: var(--gray);
    color: #000;
}
.accueil-element p{
    padding: 5px 5px 5px 40px;
    margin: 0;
}
.accueil-absence-element{
    background-color: red;
    color: #fff;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.accueil-absence-details{
    background-color: var(--gray);
    padding: 5px;
}

.card-element,.card-module,.card-filiere{
  position: relative;
}
.btn-supp{
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;
}
.btn-edit{
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 10;
}
.bg-danger-btn{
  background-color: rgb(255, 14, 14) !important;
}
.bg-edit-btn{
  background-color: var(--second);
}
.permission-item{
  width: 22%;
  text-align: left;
}


#toast {
    position: fixed;
    top: 14vh;
    right: 10px;
    z-index: 10000;
    background-color: var(--main);
    color:  #FFFFFF;
    border-radius: 15px;
    width: 400px;
    overflow: hidden;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    animation: toast 5s;
}
@keyframes toast {
    0% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#toast img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
#toast div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 15px;
}

#toast-error{
    background-color: 	#cf000f;
}
#toast-warning{
    background-color: #f0541e;
}
#toast-info{
    background-color: #63c0df;
}
#toast-success{
    background-color: #009944;
}

@media only screen and (max-width: 768px) {
    #body-connexion{
        margin: 0;
        padding: 0;
    }

    #wave{
        display: none;
    }

    #container-form{
        backdrop-filter: blur(5px) saturate(110%) brightness(120%);
        width: 90%;
        height: 60vh;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        top: 20vh;
        right: 5%;
        left: 5%;
        text-align: center;
    }
    .card-dept{
        display: flex;
        flex-direction: column;
    }
}